{#
Renders Bokeh models into a basic .html file.

:param title: value for ``<title>`` tags
:type title: str

:param plot_resources: typically the output of RESOURCES
:type plot_resources: str

:param plot_script: typically the output of PLOT_SCRIPT
:type plot_script: str

:param plot_div: typically the output of PLOT_DIV
:type plot_div: str

Users can customize the file output by providing their own Jinja2 template
that accepts these same parameters.

#}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ title if title else "Bokeh Plot" }}</title>
        {{ bokeh_css }}
        {{ bokeh_js }}
        <style>
          html {
            width: 100%;
            height: 100%;
          }
          body {
            width: 90%;
            height: 100%;
            margin: auto;
          }
        </style>
    </head>
    <body>
       <h1>Leaf model for C3 photosynthesis</h1>
       <p>This widget computes leaf level photosynthesis, transpiration, temperature,
       stomatal conductance and energy fluxes for a given radiation, temperature,
       humidity, CO2 concentration, windspeed and photosynthetic parameters such
       as Vcmax25, Jmax25, Rd25 etc. </br>
       It also provides a convenient tabular format for data entry and plots the
       results.</p>
       <h2>Documentation</h2>
       <iframe src="docs/_leaf_8c.html" hspace=100 name="iframe_a" style="width:100%; height:800px;"></iframe>
       <p> &nbsp; <p> &nbsp; <p>
       <p> &nbsp; <p> &nbsp; <p>
       <p> &nbsp; <p> &nbsp; <p>
       {{ plot_div|indent(8) }}
       {{ plot_script|indent(8) }}
    </body>
</html>
